:root {
    --theme: rgb(153, 153, 255);
    --text: rgba(67, 65, 142, 1);
    --active-text: rgb(138, 137, 190);
    --background: rgba(217, 250, 255, 1);
    --first-prize: rgba(247, 164, 245, 1);
    --error: rgba(228, 52, 52, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Yu Gothic", Meiryo, メイリオ, sans-serif;
    letter-spacing: 0.1em;
    /*font-weight: bold;*/
    color: var(--text);
}

body {
    background-color: var(--background);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
}

code {
    font-family: InConsolata, Courier New, Courier, monospace, inherit;
    border: 1px solid var(--theme);
    border-radius: 2px;
    padding: 0 0.2em;
    display: inline-block;
}

strong::before, strong::after {
    content: "\"";
}

/* --- */
#container {
    max-width: 1920px;
    min-width: 800px;
    width: 80%;
    margin: 0 auto;
}

a:active {
    position: relative;
    top: 1px;
}

/* --- */
#site-title {
    text-align: center;
    margin: 0.5em 0;
}

main {
    margin: 1em 0;
}

/* --- */

#top-link ul {
    display: flex;
    justify-content: space-between;
}

.link-button:first-child {
    margin-left: 0;
}

.link-button {
    border: solid 4px var(--theme);
    border-radius: 5px;
    flex-basis: 100%;
    margin-left: 10%;
    text-align: center;
}

.link-button a {
    display: block;
    width: 100%;
    padding: 0.25em 0;
    text-decoration: none;
}

/* -- */
#page-title {
    background-color: var(--theme);
    text-indent: 2em;
    border-radius: 5px;
    margin: 1em 0;
}

.section {
    border: 5px solid var(--theme);
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-top: 1em;
    overflow-x: auto;
}

.section .section-title {
    text-decoration: underline;
    margin-bottom: 1em;
}

.section .section-content {
    text-indent: 1em;
}

.section p {
    text-indent: 1em;
    margin: 1em 0;
}

.rule {
    padding: 1em;
    list-style-type: disc;
}

.rule li {
    margin: 0.5em 0;
}

/* -- */
.table {
    border: 2px solid var(--theme);
    border-radius: 5px;
    display: inline-block;
}

.table table {
    border-collapse: collapse;
}

.table tr:first-child {
    background-color: var(--theme);
}

.table tr {
    border-bottom: 2px solid var(--theme);
}

.table tr:last-child,
.table tr:first-child {
    border-bottom: 0;
}

.table th, .table td {
    padding: 0.1em 0.2em;
}

.first-prize {
    background-color: rgb(243, 154, 222);
}

/* -- */
.query-editor textarea {
    background-color: transparent;
    font: inherit;
    border: 2px solid var(--theme);
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.query-editor button {
    background-color: transparent;
    font: inherit;
    border: 2px solid var(--theme);
    border-radius: 5px;
    padding: 0.1em 0.2em;
    cursor: pointer;
}

.query-editor button:active {
    position: relative;
    top: 1px;
    color: var(--active-text);
}

/* -- */
.errors li,
.messages li {
    list-style-type: disc;
    padding-left: 1em;
}

.errors li {
    color: var(--error);
}

/* -- */
input[type=text], input[type=password] {
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--theme);
    margin: 0.5em 0;
}
input[type=number] {
    background-color: transparent;
    border: none;
}

button, input[type=submit] {
    margin: 0.5em 0;
    display: block;
    background-color: transparent;
    font: inherit;
    border: 2px solid var(--theme);
    border-radius: 5px;
    padding: 0.1em 0.2em;
    cursor: pointer;
}

input:focus {
    outline: none;
}

button:active {
    position: relative;
    top: 1px;
    color: var(--active-text);
}

/* -- */
.ac,
.AC {
    background-color: rgba(100, 198, 83, 1);
    color: white;
    font-weight:bold;
}

.wa,
.WA {
    font-weight:bold;

    color: white;
    background-color: var(--error);
}